.div{
    margin: 1em;
    width: 70%;
    box-shadow: 0 5px 5px rgb(240, 240, 240);
    border-radius: .3em;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s ease-in-out;

    &:hover{
        transform: scale(1.05);
    }

    .flag{
        width: 100%;
        overflow: hidden;

        img{
            display: block;
            width: 100%;
            transition: all .5s ease-in-out;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .details{
        padding: 3em 2em;

        h1{
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        p{
            margin: .2em 0;
            span{
                font-weight: 600;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .div {
        box-shadow: 0 5px 5px rgb(35, 35, 35);
    }
}