.div{
    padding: 2em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgb(240, 240, 240);
    
    .title{
        font-weight: 800;
    }

    .themeButton{
        font-weight: 600;
        cursor: pointer;
    }
}

@media (prefers-color-scheme: dark) {
    .div {
        box-shadow: 0 5px 5px rgb(35, 35, 35);
    }
}