.div{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgb(240, 240, 240);
    height: 10vh;

    p{
        cursor: pointer;
    }

    .title{
        font-weight: 800;
    }
    
    .themeButton{
        font-weight: 600;
    }
    
}